#dinamikusDiv {
    width: 500px;
    height: 500px;
    background-image: url('https://www.wallpaperbetter.com/wallpaper/163/129/314/beautifull-sunset-with-sunflower-high-resolution-jpeg-1080P-wallpaper-middle-size.jpg');
    background-size: cover;
    cursor: pointer;
}

